[2016-10-27 14:29] KHarshawat opened #1 "Feedback link goes to feedback form"
When I'm redirected from a Caseflow application I should see a feedback form.
- [ ] This form should have a title: "We welcome your feedback"
- [ ] This form should have introductory copy: "Your comments will help us improve this tool for everyone"
- [ ] This form should have a free-input text field.
- [ ] The free input field should have a description (refer to the mockup)
- [ ] This form should

[2016-10-27 14:33] KHarshawat opened #2 "Button to return from confirmation page"
When I see the confirmation page, I should be able to go back to the application I was redirected from so I can continue my work.
- [ ] Create a button at the bottom of the confirmation page that goes back to the app the user was redirected from

![image](https://cloud.githubusercontent.com/assets/6335546/19771263/52b9fc60-9c30-11e6-8dd1-f02fb4cc70f7.png)

[2016-10-27 14:35] KHarshawat opened #3 "Link on confirmation page to submit another issue"
When I see the confirmation page, I should see a link that will allow me to submit additional feedback so that I can submit more than one issue.

![image](https://cloud.githubusercontent.com/assets/6335546/19771263/52b9fc60-9c30-11e6-8dd1-f02fb4cc70f7.png)

[2016-10-27 14:37] KHarshawat opened #4 "Technical: Add Analytics to application"
As a developer, I want to know when users are performing certain actions on the feedback form so that I obtain metrics, monitor activity and/or make additional improvements.

### Acceptance Criteria
1. Verify that all visits to the form are being tracked to include the application that sent the user to the feedback form (count, date/time, from application).
1. Verify that the action of clicking th

[2016-10-27 14:38] KHarshawat opened #5 "Create Cancel link"
As a user I need to be able to cancel out of providing feedback so that I can get back to the application I was redirected from without providing feedback.

[2016-10-27 14:45] KHarshawat opened #6 "Create a way to see feedback"
As an administrator I should have a way to see the feedback that has been submitted.

### Acceptance Criteria
- Verify all feedback submitted is present in the table reverse chronological order
- Verify that the User, Feedback content, Application name, and Date are listed correctly for each feedback
- Verify that the admin feedback page is not accessible by non-adminstrators

![](https://cloud.gi

[2016-10-27 14:48] KHarshawat opened #7 "Feedback form should be viewable in a modal"
As a user I would like to be able to see the feedback form in a modal so that I don't have to leave the context of the application I'm working in.
- [ ] It's possible this requires an API
- [ ] Decide where modals should exist (as a Gem or a part of Caseflow Commons or something else)
#8 will create the visual design of the modal.

Requires investigation.

[2016-10-27 14:52] KHarshawat opened #8 "Visual Design of Modals"
As an engineer I would like to know what modals look like so I can build them.
- [x] Design Modals

[2016-10-27 14:56] KHarshawat opened #9 "Create a way to capture quick feedback"
As a user I may want to provide quick feedback without writing a lot to let the developers know how I feel.
- [ ] Prompt to rate
- [ ] Fill out quick rating
- [ ] Confirmation message for rating
- [ ] Have option to provide written feedback
- [ ] Confirmation for written feedback
- [ ] Way to cancel feedback
- [ ] Capture data from quick feedback and written feedback in a DB

[2016-10-27 14:58] KHarshawat opened #10 "Show quick feedback form at the end of certain processes"
As a administrator, I would like to collect feedback from our users intermittently so that I can see how satisfied our users are.
- [ ] Decide when to show quick feedback forms
- [ ] Decide how often to show quick feedback forms

[2016-10-27 14:59] KHarshawat opened #11 "Investigate other places to prompt users to collect quick feedback from users"
When do we show the quick feedback form? Only after you've completed a task or more intermittently? Investigate.

[2016-11-07 18:35] msknee opened #12 "Finalize type treatment of feedback form"
Given what I've seen in Caseflow videos, source code, Sketch files, and USWDS, the feedback form type treatment could go in several directions. Which one is most in line with a clear/succinct user experience, and Caseflow styles?

My vote is for Option 1, as the source code I've seen has non-bolded titles, and I like how the heading 3 styling sets off the call to action for the feedback text entry

[2016-11-08 03:28] lakohl commented on #12
@shellicious thanks for the mocks. I think I agree with you - prefer Option 1, but maybe we could move the secondary header up a bit? If you wan to slack me your file I can play with it a bit. @KHarshawat would love to hear your thoughts too, so we can set a baseline together.

[2016-11-08 03:47] KHarshawat commented on #12
Ah! I love! Thx @shellicious

Here's some feedback
- Of those presented, I also like Option 1!
- I agree with @lakohl about bumping the "Tell us about" bit up a little.
- In "Your comments will help us improve it for everyone." – "it" isn't clear or established.
- I feel 3 different text styles for a simple form such as this might be a bit excessive and ...
- Similarly I feel like the "We welcome

[2016-11-08 03:52] KHarshawat commented on #12
Also I'm not sure that the lack of bolded titles is intentional. There's an issue to fix this: https://github.com/department-of-veterans-affairs/caseflow-commons/issues/9

[2016-11-10 18:42] amprokop commented on #1
We'll need a table with the following columns: feedback, application, timestamps, username (leave it empty). User information will be added to feedback later.

[2016-11-10 18:42] amprokop commented on #1
From @shanear: look at the user object on Certification and potentially move that back to caseflow-commons.

[2016-11-10 18:45] shanear opened #13 "Add User information"
As a User,
when I visit the feedback form,
I should see my email address in the top right banner,

when I submit feedback,
my email, username, and station_id should be saved along with that feedback

Technical Notes: We should factor the User object from Caseflow Certification back into Caseflow Commons, and use that.

[2016-11-10 20:54] msknee commented on #12
Thanks for weighing in, everyone!

We have consensus around @KHarshawat suggestion, plus I've decided to stick with bolded titles:

![general feedback form 18](https://cloud.githubusercontent.com/assets/1178390/20193890/03356eac-a75e-11e6-9147-a8d12e2bf296.png)

[2016-11-10 20:55] #12 closed, assigned to nobody

[2016-11-10 20:56] msknee commented on #1
@amprokop @KHarshawat here is the updated design for the feedback form:

![general feedback form 18](https://cloud.githubusercontent.com/assets/1178390/20193917/289e5d2a-a75e-11e6-990e-8f2ae7bf60f6.png)

[2016-11-10 20:57] KHarshawat commented on #1
So beauteous!!!

[2016-11-14 19:43] nemodjuric opened #14 "An error occurred while installing libv8 (3.16.14.13), and Bundler cannot continue."
Related to https://github.com/department-of-veterans-affairs/roadrunner-rails/issues/65

[2016-11-16 16:36] amprokop opened #16 "User should be able to manually enter "contact email" field on feedback form"
As a Feedback user, I want to be able to manually enter in a contact email.

### Acceptance Criteria
1. Verify that the Contact Email field is above the main contact field for the Feedback form.
1. Verify that the email is saved on the Feedback. (This may require #6 for verification)

@shanear @lakohl — @shellicious pointed out that many ROs seem to use shared logins for certification. In light of

[2016-11-16 16:37] amprokop commented on #16
@shanear @lakohl — thoughts?

[2016-11-16 18:21] shanear commented on #16
@amprokop Accommodating shared CSS logins is a dangerous game, because that affects a lot of other situations where we are assuming 1 CSS login = 1 person. I think we should continue to operate under this assumption, and use whatever email is associated with the CSS account. This will further put pressure on folks to use 1 CSS account.

[2016-11-17 18:18] amprokop commented on #16
@shanear — i totally understand the desire to have users use their own accounts rather than shared ones. Not sure exactly how much leaving out a "Contact info" form field would put pressure on them to do so though. Seems to me like it might just make things harder for our support staff trying to contact them. Will leave this aside for now and return to it if it becomes an issue though.

[2016-11-17 18:26] shanear commented on #16
@amprokop good point. A phone # is sometimes useful for contacting them. Also, if there is a discrepancy in email addresses, we can tell them to fix that in addition to contacting them about their feedback lol.

We should let @shellicious make the call here.

[2016-11-18 16:59] amprokop commented on #3
@nemodjuric — once you get the redirect in place, can you test that the user can submit multiple pieces of feedback and click the "Back to" button and still get redirected to the correct app?

[2016-11-18 17:18] amprokop opened #22 "Feedback Form: Reroute back if not logged in"
As Product Support, I want to only receive feedback from users that are logged in so that their username can be captured and sent with their feedback.

### Acceptance Criteria
1. Verify that if the user is not logged in when the Feedback form is rendered, the user is redirected to the log in page.

### Technical Notes
Refer to the Caseflow pages how they handle.

### Initial Notes
We definitely wa

[2016-11-18 18:54] msknee commented on #22
@amprokop what do you mean by authentication?

[2016-11-18 18:56] msknee commented on #16
I was chatting with @Chingujo about this and we both agree that having an email address field is the right call. Phone numbers are a little tricky, since I've been given the general regional office phone # recently. Email seems like the fastest way to understand the specific person giving the feedback, and a way to reach them afterwards. And if we know their email, we can help them set up a person

[2016-11-18 19:15] amprokop commented on #22
@shellicious — logging in. Basically, should people just be able to go to `feedback.caseflow.ds.va.gov` (when logged on to the VA network, not on the public internet) and submit feedback without being logged in?

[2016-11-18 19:29] nemodjuric opened #25 "Add travis yml file to the project"
Add travis yml file to the project
Feel free to copy one from efolder or certification

### Sub-Tasks

- [ ] Need to have a working travis build
- [ ] Prevent merges of pull request with a failing travis build.

[2016-11-21 14:53] shanear commented on #16
@shellicious should we have the email field default to their account email?

[2016-11-21 14:59] amprokop opened #27 "Environment: Deploy application in demo"
The demo environment should be accessible on the open internet.

### Sub-Tasks

- [ ] QA discovery and scripting - validate url can be accessed

@orischwartz need your guidance here, but i think we need:

    VA internal DNS mapping
    A new HTTPS certificate
    Ansible deployment script (make sure the RAILS_SECRET_KEY matches the other apps)
    RDS Postgres instance

[2016-11-21 15:05] amprokop opened #28 "Database.yml should work with docker and non-windows computers"

[2016-11-21 15:43] #3 closed, assigned to amprokop

[2016-11-21 16:48] amprokop opened #29 "Have feedback form link back to UAT/demo environment urls."
The feedback form sends the user back to the originating application after the feedback is collected. Right now, we hardcode production application URLs. We should have the dev environment link back to dev, and UAT to UAT.

Consider using return URLs instead of hardcoded.

### Acceptance criteria:
go to UAT certification -> click the feedback link -> submit feedback -> you're returned to UAT
go to

[2016-11-21 17:13] msknee commented on #6
@Chingujo is currently working on this. The plan:

- Rough sketches/wireframe to discuss with me by end of day 11/21
- another chat with @Sjones352 about her / support team needs for a feedback view Tuesday 11/22
- Revise and scale down wireframes Tuesday 11/22 and Wednesday 11/23

[2016-11-21 17:14] msknee commented on #8
This is a bit blocked on not knowing the Caseflow style guide

[2016-11-21 17:19] KHarshawat commented on #6
This sounds great!

[2016-11-21 17:20] KHarshawat commented on #8
@shellicious since USWDS doesn't have any modals we basically get to make something up :) I'll try to provide you with guidance/feedback if you want to give it a stab!

[2016-11-21 20:42] nikitarockz opened #31 "Environment: Develop application in UAT"
As a Product Owneer, I would like to have the UAT environment accessible only on the VA network so that testing can occur and no one can access it outside of the VA network.

Acceptance Criteria
1.  Verify that Caseflow Feedback is in the UAT environment on the VA network only.

### Sub-Tasks

- [ ] QA discovery and scripting - validate url can be accessed

[2016-11-21 20:47] amprokop commented on #29
Consider sending the return URL to feedback as a query param.

[2016-11-22 01:10] amprokop opened #32 "Username Menu: Dropdown should only contain "Sign Out""
As Product Owner, I would like to have just the "Sign Out" option in the Username Menu so that user's providing feedback can log out of Caseflow.

Acceptance Criteria
1. Verify that after clicking on the Username Menu, the only option available is "Sign Out".
1. Verify that after clicking on the "Sign Out" menu option, the user is logged out of the system.

### Mockup
![image](https://cloud.github

[2016-11-22 01:13] amprokop commented on #32
I imported the top-right menu from other Caseflow apps, but all of the menu items had dependencies, so i didn't import them.

Certification has "What's new", "Feedback", and "Sign out". Will we need any of these? Perhaps just "Sign out"?

pushing to @shellicious and @shanear. Unless we want to give folks the option to send feedback for the feedback app (which is easy enough!), "Sign Out" is the on

[2016-11-22 01:16] msknee commented on #32
Just sign out sounds right to me

[2016-11-22 14:21] nemodjuric commented on #14
Fixed by https://github.com/department-of-veterans-affairs/caseflow-feedback/pull/15

[2016-11-22 16:45] nemodjuric opened #35 "Refactor feedback to use redirect url instead of application name as request parameter"
Right now feedback uses application name (i.e. "caseflow") to determine where is user coming from and to which application should that user be taken back. Disadvantage of this is that feedback can take user back to only one pre-configured page of home application, instead of taking the user to a specific page of a home application. Having redirect url passed as request parameter, feedback will hav

[2016-11-22 21:47] amprokop commented on #27
Done, minus the cert
https://dsva-appeals-feedback-demo-1748368704.us-gov-west-1.elb.amazonaws.com/
![image](https://cloud.githubusercontent.com/assets/3781835/20543248/555222f6-b0d3-11e6-9e40-1c1c1d8cf9d3.png)

[2016-11-22 21:47] #27 closed, assigned to nobody

[2016-11-22 21:49] amprokop opened #39 "Header: Add Caseflow logo"
As a Product Owner, I would like to see the Caseflow log on all Feedback pages so that there is consistency throughout the application.

### Acceptance Criteria
1. Verify that on all pages within Feedback display the following logo:

![image](https://cloud.githubusercontent.com/assets/3781835/20543314/a482888e-b0d3-11e6-8432-b900a27222f4.png)

### Note
Harvest it from the Caseflow repo.

[2016-11-23 16:41] #13 closed, assigned to amprokop

[2016-11-23 17:50] nemodjuric commented on #29
Fixed by #35

[2016-11-23 17:50] #29 closed, assigned to nobody

[2016-11-25 02:32] #35 closed, assigned to nemodjuric

[2016-11-25 17:21] Chingujo commented on #6
Went over some mocks with Shelly Wednesday. Connected with Alex and Nemo before the holidays.

Going to transfer mocks to Marvel and will post a link today/early Monday.

[2016-11-28 15:13] nemodjuric opened #41 "Create migration for new columns of feedback model"
Proposed Feedback view should have User, Description, Status, Date, Notes.
User, description and date already exist, so Status and Notes should be added.

[2016-11-28 15:30] shanear commented on #25
@nemodjuric @amprokop I'm going to set up the github integration here to test this out

[2016-11-28 15:38] #14 closed, assigned to nemodjuric

[2016-11-28 15:38] shanear commented on #14
no need for formal validation here if you validated it.

[2016-11-28 16:54] nemodjuric opened #43 "Setup a route, controller and authorization for Feedback view."
Authorized users should be able to see Feedback panel and they should be the only one.
Related to #6

[2016-11-28 17:09] amprokop commented on #25
travis builds appear to be running now @shanear! did you make the change? works for me.

[2016-11-28 18:37] #41 closed, assigned to nemodjuric

[2016-11-28 18:42] Chingujo commented on #6
@nikitarockz @shellicious @nemodjuric @astewarttistatech

Hi everyone!

Sorry took longer than expected. Here are the high level views of the sign in page and the dash as static files. Will be adding research and the interactive prototype to [#1022](https://github.com/department-of-veterans-affairs/appeals-pm/issues/1022)

## Sign In

![sign in for caseflow](https://cloud.githubusercontent.com/ass

[2016-11-28 22:39] shanear commented on #22
@amprokop we should require people to be logged in (IE: have a username). No specific function is required though.

@shellicious what do you think?

[2016-11-28 22:52] amprokop commented on #22
Aye aye!

On Mon, Nov 28, 2016 at 17:39 Shane Russell <notifications@github.com>
wrote:

[2016-11-29 06:08] msknee opened #47 "Feedback Form: Adjust the container size of the Feedback Comment and Email Address"
As Caseflow user, I would like to have container size and labeling for the Feedback Comment and Email Address fields adjusted so that the form appears more aesthetically proportioned.

### Acceptance Criteria
1. Verify that the Feedback Comment container size has been adjusted to the following:  White container, centered on the page, and 458px wide. (refer to mockup)
1. Verify that the width of `i

[2016-11-29 06:44] msknee opened #48 "Analyze survey responses from eReader baseline survey"
This task includes:
- responding to emailed feedback or survey responses that require follow-up with the survey participant
- summarizing how easy existing tools are to use for each part of the case review process
- summarizing what attorneys at BVA would like improved

Survey in question is outlined in #910

[2016-11-29 06:44] msknee commented on #48
made this issue in the wrong repo! Closing. Oops!

[2016-11-29 06:44] #48 closed, assigned to nobody

[2016-11-29 15:00] #16 closed, assigned to shellicious, amprokop

[2016-11-29 16:41] amprokop opened #50 "Notification: Post Slack notification when new feedback is received"
As a Product Support member, I want to know when feedback is received via Slack so that our main mode of communication is utilized.

### Acceptance Criteria
1. Verify that when a new feedback is submitted and saved successfully, a slack message is posted on the `#appeals-support` channel with a link to the feedback page.
1. Verify that slack alert contains the following text:  "There are new feedb

[2016-11-29 16:50] amprokop commented on #50
@shanear @KHarshawat  — what are your thoughts on this? IMO the Slack integration might be more useful than the admin page itself, at least in the short term while feedback volume is low. I'm thinking it's fine if we made #appeals-feedback a public room in our account—is there any reason it should be private?

[2016-11-29 16:53] nikitarockz commented on #4
@KHarshawat @cmgiven For each of the analytics that you want to track, are you looking to just have a count for all items or would you like to also know the date and time a particular action occurred?  This would give you additional metric information.

[2016-11-29 16:59] KHarshawat commented on #4
Up to @cmgiven but I'd say the more data the better. I believe date/time is automatically collected w/ Google Analytics tho.

[2016-11-29 17:02] KHarshawat commented on #50
In general I think this is a great idea but the only thing I'd be concerned about is if the message/feedback happens to contain PII we shouldn't show it in Slack. Maybe we can just send a notification that there is new feedback with a link to a page behind a login that contains the feedback.

[2016-11-29 17:02] KHarshawat commented on #50
In general I think this is a great idea but the only thing I'd be concerned about is if the message/feedback happens to contain PII we shouldn't show it in Slack. Maybe we can just send a notification that there is new feedback with a link to a page behind a login that contains the feedback.

[2016-11-29 17:07] cmgiven commented on #4
Yes, if Google Analytics we are looking to track each of these things as an event, which should be associated with a user session.

[2016-11-29 19:45] amprokop commented on #50
Ok — let's scope this down to just posting a notification that new feedback was received.

[2016-11-29 19:57] amprokop commented on #6
For the MVP, we've decided to focus on just getting a basic version of the table. The rest of the functionality will be broken out and prioritized separately in storytime.

We'll implement the table as designed, while leaving the following items out:
-pagination
-"Read More"
-sorting
-the "Notes" column

We'll add one more column:
"Application"

Also, we should verify that this table's visual desi

[2016-11-29 19:58] amprokop commented on #6
@shanear and I discussed this on the phone just now.
cc @shellicious @Chingujo @KHarshawat @nemodjuric

[2016-11-29 20:01] KHarshawat commented on #6
@amprokop the visual design does not match USWDS but I'm happy to mock this up quickly for MVP

[2016-11-29 20:01] amprokop commented on #6
ok @KHarshawat that sounds great. you have a sec to take care of that?

[2016-11-29 20:01] KHarshawat commented on #6
yep, doing it now.

[2016-11-29 20:15] KHarshawat commented on #6
@amprokop here ya go. Zip/Sketch file attached too for those following along.

[Caseflow Feedback 112916.zip](https://github.com/department-of-veterans-affairs/caseflow-feedback/files/620092/Caseflow.Feedback.112916.zip)
![caseflow feedback admin](https://cloud.githubusercontent.com/assets/6335546/20727223/acdab312-b646-11e6-9b9e-bd4ba6439fa5.png)

[2016-11-29 20:24] amprokop commented on #6
@nemodjuric — can you make it so? see @KHarshawat's newest mock

[2016-11-29 20:26] shanear commented on #50
Add a link too.

[2016-11-29 20:26] amprokop commented on #6
Every feature that's not depicted in the mock in the main description body of this PR should be broken out into separate issues. cc @nikitarockz @Chingujo

[2016-11-29 20:27] amprokop opened #51 "Accept both subject and redirect URL as query params for Feedback"
If we arrive at the feedback app with the following query string:

/?redirect=www.google.com/fdsafjiosasfd&subject=Google

It should reference "Google" as the topic for feedback, and should redirect to `www.google.com/fdsafjiosasfd` when the user clicks "Done" after submitting feedback.

Why should we use `subject` and not `application`? `Dispatch` and `Certification` are both parts of the `Casefl

[2016-11-29 20:30] amprokop commented on #51
cc @shanear

[2016-11-29 21:54] shanear commented on #50
@amprokop we're sure this is technically possible right? If so, lets just turn this issue into actually implementing this.

[2016-11-30 15:59] amprokop commented on #50
@shanear — The only possible constraint I can think of is the ability to make requests to the slack API (open internet) from the VA network. That shouldn't be a problem, right? If so, let's modify this.

[2016-11-30 15:59] shanear commented on #25
hello travis :hammer:
https://travis-ci.org/department-of-veterans-affairs/caseflow-feedback

[2016-11-30 15:59] #25 closed, assigned to shanear, nemodjuric

[2016-11-30 17:27] nikitarockz commented on #50
This will have to be on the "support" channel as the Product support team will be responsible for processing these feedback items.  However, currently, this channel doesn't exist and will need to be created.  Actually, it can be either Feedback or Support but definitely not Product (too much going on there).

[2016-11-30 17:55] nemodjuric commented on #6
![caseflowfeedback](https://cloud.githubusercontent.com/assets/4960030/20764446/34f7dda0-b6fc-11e6-908a-a6a970e7035f.png)

[2016-11-30 18:38] Chingujo commented on #6
@nemodjuric

Awesome!!

Just a quick note. The original mock shows the text in the User, Date, and Application fields top aligned with the first line of the feedback section.

[2016-11-30 19:12] KHarshawat commented on #50
@nikitarockz #appeals-support already exists :)

[2016-11-30 19:18] KHarshawat commented on #6
@Chingujo that was intentional :) I kinda prefer top aligned than center aligned in this instance. WDYT?

[2016-11-30 19:29] Chingujo commented on #6
@KHarshawat

Apologies =D. +1 on top align.

[2016-12-01 03:19] msknee commented on #6
nicely done @KHarshawat!

[2016-12-01 03:27] nikitarockz commented on #47
@shellicious would you by any chance have an updated mockup with this change?

[2016-12-01 03:37] amprokop commented on #6
@nemodjuric — apologies, I didn't notice the comments about the top alignment above when I approved your PR for this. The screenshot you posted has a difference in alignment from the mock. Did you take care of this already? If not, can you open a separate PR to make that alignment change? Thanks!

[2016-12-01 03:37] amprokop commented on #6
cc @KHarshawat

[2016-12-01 03:45] msknee commented on #47
@nikitarockz I do not, since the change is pretty straightforward. @nemodjuric do you need a mock?

[2016-12-01 03:54] nikitarockz commented on #47
@shellicious No worries.  I dropped one in there real quick.  I just like to be consistent and believe a picture ensures the worded vision is clear.  Please check out what I did to make sure this is what you were thinking.

[2016-12-01 07:16] msknee commented on #47
@nikitarockz thanks for the first pass! @nemodjuric, take a look at this mock:

![general feedback form](https://cloud.githubusercontent.com/assets/1178390/20785042/e1220636-b752-11e6-964b-633ab1c3012c.png)

[2016-12-01 07:17] msknee commented on #47
@KHarshawat what's the standard width of the white container in Caseflow?

[2016-12-01 15:21] KHarshawat opened #54 "Create a cleaner favicon for feedback"
Need to create a favicon that reads well on a colored background. Consider adding a shadow or using a bg color.

[2016-12-01 15:59] KHarshawat commented on #47
@shellicious For the main white content area in Certification/Dispatch/eX it's 918px in my mocks and that's what my inspector tells me when i look at the deployed app. Given that this form is so small though, using a width of 918 seems excessive. What are your thoughts on making it much narrower? Perhaps 458px and centered? You'd have something that looks like this:

![image](https://cloud.githubu

[2016-12-01 16:13] nemodjuric opened #55 "Ensure test database get cleaned up before and after rspec tests."

[2016-12-01 16:24] nemodjuric commented on #6
![caseflowfeedback 1](https://cloud.githubusercontent.com/assets/4960030/20802021/ab65cc4c-b7b8-11e6-89b6-961e119bc948.png)

Firefox makes row lines bold (each 3rd or so). I filed #56 for this.
@KHarshawat @Chingujo @amprokop @shellicious

[2016-12-01 16:29] KHarshawat commented on #6
@nemodjuric is this deployed somewhere where I can inspect it?

[2016-12-01 16:42] nemodjuric commented on #6
@KHarshawat It is not. However you can checkout 'fix_feedback_view_#6' if you'd like it to locally deploy it.
Make sure you add the admin role in initializer.

[2016-12-01 17:24] amprokop commented on #47
+1 to the level of detail found in the discussion here. It seems like what we really wanted was to make the container less wide, not just to make the textfields have equal width. That wouldn't have been clear to me without some width figures and explicit discussion. Thanks, @shellicious @KHarshawat and @nikitarockz!

[2016-12-01 17:24] amprokop commented on #47
One more request, possibly for @shellicious once she makes a final decision— can we update the main issue description up top to reflect these details?

[2016-12-01 18:58] nemodjuric opened #56 "Fix the Feedback View for Firefox where table row lines are bold."

[2016-12-01 19:10] KHarshawat commented on #54
Closing as we decided to use one favicon for all caseflow apps. See https://github.com/department-of-veterans-affairs/caseflow/issues/509

[2016-12-01 19:10] #54 closed, assigned to KHarshawat

[2016-12-01 20:29] #43 closed, assigned to nemodjuric

[2016-12-01 21:11] #51 closed, assigned to nemodjuric

[2016-12-02 07:24] msknee commented on #47
@KHarshawat @amprokop

Container width of 458px and centered sounds good to me! Let's try it and if it looks wonky when deployed, we can try the width of 918 px. Updated instructions, let me know if there are other open questions.

[2016-12-02 14:19] nikitarockz commented on #47
@shellicious @KHarshawat Based on this new mockup as compared to what I am seeing currently on the demo site, not only is the dimensions of the feedback comment container changing but so is the size of the Email field, Email labeling, header size and positioning, and the overall dimensions of the form.  Here's the way it currently looks:

![image](https://cloud.githubusercontent.com/assets/2306304

[2016-12-02 15:43] amprokop opened #60 "Error Message: Change the User Feedback error message displayed"
As a Product Owner, I would like the User Feedback error message displayed updated so that it matches the USWDS standards in form validation error messages and provides consistency within the application.

# Acceptance Criteria
1. Verify that the following fields have the text "_Required_" next to their labels in red and italacized (refer to mockup):
    - Feedback Comment
    - Email Address
1. V

[2016-12-02 17:54] KHarshawat commented on #47
@nikitarockz the width of `"input-type-textarea`  and `input-type-text` should not divert from US Web Design Standards. Based on what's in the demo environment the width of this field was customized but it should not be to stay consistent with the rest of the USWDS.

Further by using 458px as I mentioned above these forms should look great.

[2016-12-02 18:32] #39 closed, assigned to amprokop, nemodjuric

[2016-12-02 18:34] amprokop commented on #6
deployed now. closing.

[2016-12-02 18:35] amprokop commented on #2
Fixed. Closing.

[2016-12-02 18:36] amprokop commented on #4
@nemodjuric, wanna take this on?

[2016-12-02 18:38] shanear commented on #6
@amprokop can you help alexis validate this?

[2016-12-02 18:38] shanear commented on #2
@amprokop can you help alexis validate this?

[2016-12-02 18:47] nemodjuric commented on #4
@amprokop  On it.

[2016-12-02 19:52] astewarttistatech commented on #1
Unfortunately this does not match the mockups. @amprokop @shanear  @nemodjuric  I suggest the scope be changed.

See attached.
<img width="594" alt="screen shot 2016-12-02 at 2 49 21 pm" src="https://cloud.githubusercontent.com/assets/23038505/20848143/cc5ec822-b89e-11e6-9a77-47e129e93be8.png">

[2016-12-02 19:57] astewarttistatech commented on #5
**PASSED**

Please see attached.
<img width="594" alt="screen shot 2016-12-02 at 2 49 21 pm" src="https://cloud.githubusercontent.com/assets/23038505/20848311/9c865a9c-b89f-11e6-80c3-fb42d1618d19.png">

[2016-12-02 19:57] #5 closed, assigned to shellicious, nemodjuric

[2016-12-02 20:01] astewarttistatech commented on #6
**PASSED**

Please see attached. The URL is https://dsva-appeals-feedback-demo-1748368704.us-gov-west-1.elb.amazonaws.com/admin

<img width="1232" alt="screen shot 2016-12-02 at 2 58 23 pm" src="https://cloud.githubusercontent.com/assets/23038505/20848463/3929f8b8-b8a0-11e6-9372-b4a2468d2d22.png">

[2016-12-02 20:01] #6 closed, assigned to nemodjuric

[2016-12-02 20:03] astewarttistatech commented on #2
The button wording is off as well as color. I need someone to approve these changes @shanear

Please see attached.
<img width="616" alt="screen shot 2016-12-02 at 3 00 01 pm" src="https://cloud.githubusercontent.com/assets/23038505/20848529/7ee1063a-b8a0-11e6-99d4-28224afcea83.png">

[2016-12-02 20:10] amprokop commented on #1
@astewarttistatech — what doesn't match? We added the contact email form field in a later issue.

[2016-12-02 20:19] amprokop commented on #2
@astewarttistatech — The mock was in black and white because it was an early version.  The colors are correct (you'll see that they match the other mocks).

As for the wording, we display the name of the topic that the user is giving feedback for. Did you arrive at the Caseflow Feedback app by clicking a link from Caseflow Dispatch (URLs like "/dispatch/*"? If so, then you should see "Caseflow Dis

[2016-12-02 20:23] amprokop commented on #1
@astewarttistatech — can you add more details or revalidate?

[2016-12-03 01:07] shanear commented on #2
@astewarttistatech The colors are good, they match the most recent mocks. The button will change based on the original application. Those things are good! We can close this out.

[2016-12-03 01:07] #2 closed, assigned to astewarttistatech

[2016-12-03 01:10] shanear commented on #1
@astewarttistatech @amprokop

The "Contact Email" part was added in a later issue, so it wasn't on these mocks. These two are matching enough, and since the logic is :+1: well close this out and handle any design tweaks in a later issue.

Thanks for the screenshot and validation @astewarttistatech

[2016-12-03 01:10] #1 closed, assigned to nemodjuric, astewarttistatech

[2016-12-05 15:16] msknee commented on #60
@amprokop This should be styled like the USWDS error message, unless there is a Caseflow specific style @KHarshawat @lakohl cc @Chingujo

https://standards.usa.gov/alerts/

[2016-12-05 15:16] msknee commented on #60
Screenshot of USWDS standard error below:

![screen shot 2016-12-05 at 10 16 29 am](https://cloud.githubusercontent.com/assets/1178390/20890165/ed194b50-bad3-11e6-8c83-8719710fa9a2.png)

[2016-12-05 15:29] amprokop opened #63 "Get authentication working in UAT"
We need authentication working in UAT. To get this working, we need to configure the `SSO_URL` (see https://github.com/department-of-veterans-affairs/appeals-deployment/pull/239/) and configure Feedback to redirect to the login page if there's no user in the session.

[2016-12-05 15:44] KHarshawat commented on #60
Standard USWDS are great!

[2016-12-05 15:46] amprokop opened #64 "User should be able to log out of Feedback"
Acceptance criteria:

"Sign out" should appear in the top right dropdown menu
"Sign out" should function properly in UAT (on local dev and in demo, we treat the user as always logged in, so you can't exactly sign out)

[2016-12-05 21:57] amprokop commented on #22
May have been fixed by https://github.com/department-of-veterans-affairs/caseflow-feedback/pull/65, needs testing in UAT. Some environment configuration issues are blocking this.

[2016-12-06 16:30] #4 closed, assigned to amprokop, nemodjuric

[2016-12-06 23:28] shanear commented on #63
@amprokop this wont work until we have the feedback.cf.ds.va.gov domain name, because the auth cookie wont transfer over to an IP.

We shouldn't be modifying /etc/hosts to validate issues. Blocking this one for now.

[2016-12-09 18:22] shanear opened #67 "Log application errors in Sentry"
As a system owner,  I want to see errors show up in sentry.

- Need to log a users username, station id and email address. Look at eFolder Express for this.

### Technical notes
- This will need to be verified by me or Alan, and will also require one of us to integrate it.
- This is already working in the other apps, use them as reference

[2016-12-09 21:05] nikitarockz commented on #47
@shellicious Do you feel that the Acceptance Criteria is complete?

[2016-12-09 21:07] Chingujo opened #68 "Admin: Dashboard: Ability to sort and filter various columns"
As a Product Support Analyst, I want to be able to sort and filter on various columns so that I can quickly find important issues.

### Acceptance Criteria
1. Verify that the following columns can be sorted in ascending and descending order:
   - Date
   - Github Issue
   - User
   - Application
   - Status
1. Verify that the following columns allow for filtering of the its available options value

[2016-12-09 21:28] msknee commented on #47
@nikitarockz Because I don't think USWDS specifies exact widths of form fields, the criteria should be: the width of the email field should be the same as the width of the feedback text field. The width of the container should be 458px. I'm not sure what the padding between the edge of the container and the form fields is, but that will inform the exact width of both the email field and feedback t

[2016-12-09 21:31] nemodjuric commented on #56
This was on my local machine and appears not to be an issue in DEMO.
https://dsva-appeals-feedback-demo-1748368704.us-gov-west-1.elb.amazonaws.com/admin

[2016-12-09 21:31] #56 closed, assigned to nobody

[2016-12-09 21:33] shanear commented on #31
This is a duplicate of https://github.com/department-of-veterans-affairs/appeals-deployment/issues/213. closing

[2016-12-09 21:33] #31 closed, assigned to nobody

[2016-12-09 22:04] shanear commented on #55
If tests are passing then this is not an issue. closing

[2016-12-09 22:04] #55 closed, assigned to nobody

[2016-12-12 14:20] Chingujo opened #69 "Admin | Dashboard | Ability to search"
As a Product Support Analyst, I want a dynamic search to easily search for Feedback items in the Dashboard section of the Feedback Admin page so that I can quickly view and manage relevant Feedback items.

# Acceptance Criteria
1. Verify that the Feedback item data can be searched by all associated data elements.
1. Verify that on the Feedback Admin page, the _"Search"_ bar allows for entering sea

[2016-12-12 14:34] Chingujo opened #70 "Admin | Dashboard | Github Issue column header shouldn't be wrapped"
# Description
The "Github Issue" label is wrapping on the Admin Feedback page.  It should not wrap.

**Confirmed Environment(s)**
- [ ] Dev
- [x] Demo
- [ ] UAT
- [x] Prod

**Type of Bug**
- [ ] Functional
- [x] Design
- [ ] Security
- [ ] Tech Improvement

**Severity Level**
- [ ]    5 - Data loss, data corruption or system unavailable
- [ ]    4 - Important functionality is unavailable with no w

[2016-12-12 14:59] Chingujo opened #71 "User: Feedback Form: Submit Feedback: Automatically generate github issue"
As a Product Support Analyst, I would like to have a github issue automatically created ever time a Feedback comment is submitted so that I can view it in my Appeals-Support repository for processing.

# Acceptance Criteria
1. Verify that after clicking on the **_Send Feedback_** button, a the github new issue is automatically generated in the Appeals-support repository.
1. Verify that the new iss

[2016-12-12 15:05] Chingujo opened #72 "Slack: Appeals-Support: Caseflow Feedback Bot: Add github link in notification"
As Product Support Analyst, I would like to have the Feedback Slack notification that is sent to the Appeals-Support channel to include a link to the github issue so that I can easily click on it an view the issue in github.

# Acceptance Criteria
1. Verify that the following links are in the notification:  **_Github, Admin Dashboard_**
1. Verify that slack notification is the following:

1. Verif

[2016-12-12 15:09] Chingujo opened #73 "User: Feedback Form: Add PII warning comment and Veteran ID field"
#As a Product Support Analyst, I would like to warn the user not to add PII in the main feedback comment and add a "Veteran PII" field so that PII can be captured and saved in the proper location.

# Acceptance Criteria
1. Verify that the following PII warning message is displayed below the _"What's working well...."_ field:

1. Verify that the following new field has been added (Refer to mockup):

[2016-12-12 15:22] Chingujo opened #74 "Admin | Dashboard | Add "Current Feedback" as header"
As a Product Owner, I would like to have the header "Current Feedback" added to the Dashboard section on the Admin Feedback page so that it correctly identifies the section and complies with consistent stylization.

# Acceptance Criteria
1. Verify that there is a section header "Current Feedback".

# Mockup
**_View - Admin Feedback page with Header_**
![current feedback header](https://cloud.githu

[2016-12-12 15:32] Chingujo opened #75 "Admin: Dashboard: Add "Github Issue" column as a link to Github ticket"
As a Product Support Analyst, I want to be able to navigate to a Github issue from the Admin Feedback Dashboard so that I can easily view and make updates to the issue.

# Acceptance Criteria
1. Verify that in the Dashboard section, there is a new column _"Github Issue"_.
1. Verify that the _"Github Issue"_ column contains the Feedback item's related github issue number.
1. Verify that the Feedbac

[2016-12-12 15:38] Chingujo opened #76 "Admin | Logo | Update with Feedback color logo"
As a Product Owner, I would like the logo to be update to the logo so that it represents the Feedback application and is complies with consistent stylization.

# Acceptance Criteria
1. Verify that the standard application header is displayed with the following logo elements (Refer to mockup):
    - **Application Name** - "Caseflow Feedback"
    - **Application Logo**- [SVG of Caseflow Logo.svg.zip

[2016-12-13 19:42] nikitarockz commented on #74
Suggested Changes:
As a product support team member, I want to be able to set the status of a Feedback item without opening the modal so I can update individual feedback details in a more efficient way.

[2016-12-13 19:45] Chingujo commented on #74
Changed =D

[2016-12-13 20:55] nikitarockz commented on #75
Suggested Changes:  Title

Acceptance Criteria
1. Verify that the Feedback item's Github Issue number is a link.
1. Verify that after clicking the Github Issue number link, that issue item is launched and displayed in a new tab.

[2016-12-14 02:06] nikitarockz commented on #76
Suggestions - I did name change.

### Acceptance Criteria
1. Verify that the total number of Feedback form items with the Status of  "Under Review" is displayed. (Refer to mockup)
1. Verify that after changing the status of a feedback item, total number of Under Review Feedback items count is updated approximately.

### Mockups
<img width="715" alt="screen shot 2016-12-12 at 10 33 28 am" src="http

[2016-12-14 13:46] nikitarockz commented on #68
Questions:
Shouldn't you be able to sort on all columns, including User Name, Application, Status?

Suggestions:

1. Verify that the following columns can be sorted in ascending and descending order:
   - Date
   - Github Issue

1. Verify that as you start typing letters into the drop down, the options displayed begins to provide a filtered list based on the values typed for the following columns:

[2016-12-14 14:16] Chingujo opened #77 "Admin | Footer | Contains extra formatting and punctuation marks and extended footer"
# Description
The current footer has extra formatting and punctuation marks that need to be removed.  Secondly, the heart and "VA" should not be underlined.  There also shouldn't be a period at the end of "VA".  Finally, the footer line is extended beyond the app canvas main content.

**Environment:**
- [x] Production
- [ ] UAT
- [x] Demo
- [ ] Development

**Type of Bug:**
- [ ] Performance
- [X]

[2016-12-14 14:24] nikitarockz commented on #70
Suggestions:

As a product support team member, I want the View Feedback button to open the Feedback Details modal so I can easily read and interact with the feedback details.

Acceptance Criteria
1. Verify that that after clicking on the **_View Feedback_** link, the Feedback Details modal is displayed with the selected Feedback item details.
1. Verify that after clicking on the **_View Feedback_

[2016-12-14 14:43] Chingujo opened #78 "User | Feedback Form | Send Feedback | Change Application Name values for Certification and outside application"
As a Product Support Analyst, I would like the value of the Application Name for Certification changed to "Certification" so that it more accurately reflects the specific application.

# Acceptance Criteria
1. Verify that after clicking the **_Send Feedback_** button on the User Feedback page from the Certification product, the "Application Name" value is set to "Certification". (Note:  Can be see

[2016-12-14 15:58] nikitarockz commented on #77
Still working on this one.......
As a product support team member, I want to be able to easily see and respond to incoming feedback in a dashboard table so that I can can effectively respond and report important issues and feature requests.

1. Verify that after navigating to the Admin Feedback page, there is a Dashboard table with the following columns:
   - User
   - Date
   - Application
   - S

[2016-12-14 18:07] orischwartz opened #79 "Log to stdout instead of rails default production.log"
Relevant library https://github.com/heroku/rails_stdout_logging.

See also https://github.com/department-of-veterans-affairs/caseflow/issues/462 and https://github.com/department-of-veterans-affairs/caseflow/pull/558

[2016-12-14 22:15] shanear commented on #64
closing as a duplicate

[2016-12-14 22:15] #64 closed, assigned to nobody

[2016-12-14 22:22] #63 closed, assigned to amprokop

[2016-12-14 22:23] #22 closed, assigned to nemodjuric

[2016-12-14 22:23] shanear commented on #50
verifying this in prod

[2016-12-14 22:42] KHarshawat commented on #47
30px padding all around just like everywhere else. Shouldn't need to be overwritten for this.

[2016-12-19 14:04] #50 closed, assigned to amprokop

[2016-12-19 16:33] nikitarockz commented on #60
### Background Notes
Here's the current error view (which was based on copy and paste boilerplate code I think)

![image](https://cloud.githubusercontent.com/assets/3781835/20839827/06eba4c4-b87c-11e6-86b3-ae3fcfddda39.png)

[2016-12-19 20:36] nikitarockz commented on #60
**_Sprint Planning Notes:_**  Change this to match the way Certification handles validation.  Add validation that there is an email.

[2016-12-20 01:04] lakohl commented on #60
Replace the two lines above 'Tell us about your experience...' with:

<img width="681" alt="screen shot 2016-12-19 at 8 02 52 pm" src="https://cloud.githubusercontent.com/assets/4975959/21334531/4e5c65ca-c626-11e6-88b2-00d953ffe305.png">

[2016-12-20 14:43] KHarshawat commented on #60
@lakohl we discussed changing these to form input errors like we use in Certification ...

![image](https://cloud.githubusercontent.com/assets/6335546/21354592/b7c49164-c698-11e6-830e-425b8145f24d.png)

[2016-12-20 15:24] lakohl commented on #60
@nikitarockz I agree with Kavi - let's use the error messaging style above. Let's also add _Required_ in red, in the top right corner of the required boxes.

[2016-12-20 18:23] nikitarockz commented on #60
@shellicious I have updated the Acceptance Criteria and mockups to reflect our discussed changes from sprint planning.

[2016-12-21 17:40] askldjd opened #82 "Can't submit Feedback in demo environment"
In the demo environment, if you submit a feedback, you will see a Rails error that says "Invalid Token". And if you remove the protect_from_forgery protection, you will see another error that says "Subject Can't Be Blank".

Here are my hacks that hid the problem in the demo environment. I did this quickly since @lakohl has a demo.

Below are the git diff. The changes are pretty simple, and definit

[2016-12-21 17:54] askldjd commented on #82
Colored version of the diff.

![image](https://cloud.githubusercontent.com/assets/3258724/21400132/a2105eae-c77c-11e6-8463-4dbd3bf8477b.png)

[2016-12-21 18:07] amprokop commented on #82
to confirm, @askldjd — this is not affecting prod or uat?

[2016-12-21 18:59] askldjd commented on #82
Screenshot of the issue.
![image](https://cloud.githubusercontent.com/assets/3258724/21402234/a7cb25be-c785-11e6-9b19-0de61309f892.png)

[2016-12-21 19:14] msknee commented on #47
@nemodjuric could you post a screenshot of the work in progress? @KHarshawat and @lakohl and I were discussing smaller container widths in another thread, and it would be good to see how the 458px width is working out. Thanks!

[2016-12-21 19:15] nemodjuric commented on #47
![caseflow feedback](https://cloud.githubusercontent.com/assets/4960030/21402753/f6dbfe10-c787-11e6-8fb4-92b378267a4a.png)

This was in FF 50
@shellicious

[2016-12-21 19:26] KHarshawat commented on #47
So pretty!

[2016-12-21 19:37] anyakhvost commented on #79
Alan will be validating this.

[2016-12-21 21:11] askldjd commented on #82
@nemodjuric found the issue. We should remove COOKIE_DOMAIN for demo env.

See https://github.com/department-of-veterans-affairs/appeals-deployment/blob/master/ansible/roles/caseflow-feedback/defaults/main.yml#L40

[2016-12-22 15:55] askldjd commented on #79
Validated in UAT env. Notice that as soon as the PR was merged, Cloudwatch stops getting production.log update.

![image](https://cloud.githubusercontent.com/assets/3258724/21431406/19b77524-c835-11e6-8262-7405300cf583.png)

[2016-12-22 15:56] #79 closed, assigned to anyakhvost

[2016-12-23 17:02] askldjd commented on #82
This issue is addressed by @amprokop from the PR https://github.com/department-of-veterans-affairs/appeals-deployment/pull/303

[2016-12-23 17:02] #82 closed, assigned to amprokop, nemodjuric

[2016-12-27 17:21] nikitarockz commented on #73
# My Feedback
### Sections with Suggested Changes
- [X] Title - Done
- [X] User Story - refer to Changes
- [X] Acceptance Criteria - Refer to changes
- [X] Mockup - @Chingujo needs updating
- [X] Related Stories - Done

### Comments
Another AC may need to be added if you decide that Feedback items with a status of Complete automatically drop from the page.

### Questions
n/a

### Changes
As a Prod

[2016-12-27 17:23] nikitarockz commented on #78
# My Feedback
### Sections with Suggested Changes
- [X] Title - Done
- [X] User Story - refer to Changes
- [X] Acceptance Criteria - Refer to changes
- [X] Mockup - @Chingujo needs updating
- [ ] Related Stories

### Comments
n/a
### Questions
n/a

### Changes
As a Product Support Analyst, I want to be able to see feedback details in a modal view so that I can quickly read through important inform

[2016-12-27 21:46] nikitarockz commented on #72
# My Feedback
### Sections with Suggested Changes
- [X] Title - Done
- [X] User Story - refer to Changes
- [X] Acceptance Criteria - Refer to changes
- [X] Mockup - @Chingujo needs updating
- [ ] Related Stories

### Comments
You know what?  I don't think we need this one because it is covered in #78.  Let's re-purpose this one for the Username Menu story.

### Questions
n/a

### Changes

[2016-12-27 22:11] nikitarockz commented on #71
# My Feedback
### Sections with Suggested Changes
- [X] Title - Done
- [X] User Story - refer to Changes section
- [X] Acceptance Criteria - Refer to changes section
- [X] Mockup - @Chingujo needs updating and refer to Changes section
- [ ] Related Stories

### Comments
n/a
### Questions
n/a

### Changes
As a Product Support Analyst, I want to click a button that opens a "New Issue" template in a

[2016-12-27 23:00] ghost commented on #47
Looks good in demo, renders appropriate CSS for ```.feedback``` width and padding.

[2016-12-28 14:50] nikitarockz commented on #69
# My Feedback
### Sections with Suggested Changes
The following sections with a check mark are those I have suggested changes.  I have also indicated if done already or where to find my suggestions.

- [X] Title - Done
- [X] User Story - refer to Changes section
- [X] Acceptance Criteria - Refer to changes section
- [X] Mockup - @Chingujo needs updating
- [ ] Related Stories

### Comments
n/a
###

[2016-12-29 08:26] nemodjuric commented on #60
![emailnotvalid](https://cloud.githubusercontent.com/assets/4960030/21539605/84286d0a-cd76-11e6-9406-87d7172dca2f.png)
![emailmissing](https://cloud.githubusercontent.com/assets/4960030/21539606/8428ebb8-cd76-11e6-8c0e-71f00f37f8c9.png)
![feedbackmissing](https://cloud.githubusercontent.com/assets/4960030/21539610/842cfca8-cd76-11e6-9da9-1344e3355d06.png)
![bothmissing](https://cloud.githubusercon

[2016-12-29 08:27] nemodjuric commented on #60
@KHarshawat @lakohl @shellicious @nikitarockz

[2016-12-29 14:57] ghost commented on #47
Reopened with clarified specifications:
as per @KHarshawat :

https://standards.usa.gov/form-controls/#text-input

[2016-12-29 14:57] lakohl commented on #60
@nemodjuric we updated how 'Required' appears in Caseflow
<img width="304" alt="screen shot 2016-12-29 at 9 55 56 am" src="https://cloud.githubusercontent.com/assets/4975959/21546511/2e628b80-cdad-11e6-9924-742c5c922826.png">

[2016-12-29 15:45] nemodjuric commented on #32
Per discussion I had with @shanear:
@KHarshawat @shellicious @lakohl Where should user be redirected to once the Sign Out button was clicked?

[2016-12-29 16:00] lakohl commented on #32
@nemodjuric it seems like they would have to go back to the CSS login screen as that is where they 'Sign In', no?

[2016-12-29 17:22] nikitarockz commented on #60
# Acceptance Criteria/Mockups -  Updated
@nemodjuric  I have made the following changes:
1. Update Acceptance Criteria (AC) # 1 showing how the word "Required" should be italicized and without parenthesis.
1. Updated the mockup images to match @lakohl comments.

[2016-12-29 19:42] anyakhvost commented on #67
This can only be tested in UAT or production. We also need to set SENTRY_DSN in Feedback.

[2016-12-30 19:47] nemodjuric commented on #60
![caseflow feedback 8](https://cloud.githubusercontent.com/assets/4960030/21571599/dc358bda-ce9e-11e6-99f0-d93a13c13130.png)
![caseflow feedback 7](https://cloud.githubusercontent.com/assets/4960030/21571600/dc35e3a0-ce9e-11e6-8d52-79f3b2063dde.png)
![caseflow feedback 6](https://cloud.githubusercontent.com/assets/4960030/21571602/dc370280-ce9e-11e6-9550-89803b77df70.png)
![caseflow feedback 5](ht

[2016-12-30 20:08] nemodjuric commented on #32
@shanear What are your thoughts?

[2017-01-03 03:00] msknee commented on #8
Closing this now that a modal design exists!

[2017-01-03 03:00] #8 closed, assigned to shellicious

[2017-01-03 13:48] lakohl commented on #60
@KHarshawat Do I understand correctly from: https://github.com/department-of-veterans-affairs/caseflow-commons/issues/20 that error messages should start with '_Note:_'?

[2017-01-03 14:50] shanear commented on #32
The CSS login screen is good. Just note, that if it hasn't been 30 min, they wont actually be signed off.

[2017-01-03 14:55] nemodjuric commented on #32
@shanear Is this something that we have to handle in Feedback as well? Time the session? Or just redirect them and let CSS handle it?

[2017-01-03 16:47] shanear commented on #32
No, we also handle session timeouts on our end here:
https://github.com/department-of-veterans-affairs/caseflow-feedback/blob/master/config/initializers/session_store.rb

[2017-01-03 16:59] KHarshawat commented on #60
@lakohl and I disucssed in person. These error states do not need to start with "Note:"

[2017-01-03 18:23] msknee opened #87 "Certification: Cancellation Modal: Ability to view instructions and report issues"
As a Regional Office Caseworker, I want to understand how to cancel a certification and report problems that led to the cancellation in a modal view, so that I can quickly cancel and report problems to the Caseflow team.

## Acceptance Criteria:
1. Verify that the Cancel Certification modal contains the content in the mockup
- A header
- Brief instructions explaining the purpose of the modal.
- “C

[2017-01-03 18:24] msknee opened #88 "Certification: Cancellation Modal: Ability to select "Other" option for reporting issues"
As a Regional Office Caseworker, I want to report problems with certifying a case that are not pre-written options in the cancellation modal, so that I can report problems that the Caseflow team is less aware of.

## Acceptance Criteria:
1. Verify that clicking on the “Other” radio button in the modal:
- expands the modal
- displays a text field marked as “Required”, with copy shown in the mockup

[2017-01-03 18:29] msknee opened #89 "Certification: Cancellation Modal: Ability to submit data about cancellation problems and view a confirmation page"
As a Regional Office Caseworker, I want to cancel a certification and report problems that led to the cancellation in a modal view, so that I can quickly cancel and report problems to the Caseflow team.

## Acceptance Criteria:
1. Verify that the “Cancel Certification” button does the following:
- submits the Caseworker’s radio button selection, optional free text, and email address to a feedback

[2017-01-03 19:56] nikitarockz opened #90 "Admin | Dashboard | Ability to have pagination"
As a Product Support Analyst, I would like to limit the list displayed to 5 items and have the ability to Show More items as I desire so that I am not scrolling a whole lot unless I want to.

# Acceptance Criteria
1. Verify that after navigating to the Admin Feedback page, no more than 5 Feedback items are displayed in the Dashboard section.
1. Verify that after clicking on the **_"Show More"_** l

[2017-01-03 20:15] nemodjuric commented on #47
![caseflow feedback 13](https://cloud.githubusercontent.com/assets/4960030/21621521/670b4c10-d1c7-11e6-9e0d-e2a07c95e4c4.png)
![caseflow feedback 12](https://cloud.githubusercontent.com/assets/4960030/21621522/674e1072-d1c7-11e6-98c9-d3be77030a8f.png)
![caseflow feedback 11](https://cloud.githubusercontent.com/assets/4960030/21621523/67507aec-d1c7-11e6-9790-f94ecf25fafa.png)
![caseflow feedback 10

[2017-01-03 20:32] ghost commented on #47
The text area has a width of `460px` if you include padding:
<img width="1083" alt="screen shot 2017-01-03 at 15 29 20" src="https://cloud.githubusercontent.com/assets/18075411/21622034/a2a9036e-d1c9-11e6-804a-e7ae30e834b0.png">

The canvas does provide `30px` of padding around the text area:
<img width="1065" alt="screen shot 2017-01-03 at 15 30 17" src="https://cloud.githubusercontent.com/assets

[2017-01-03 20:33] #47 closed, assigned to nemodjuric

[2017-01-03 22:05] shanear commented on #60
validated

[2017-01-03 22:05] #60 closed, assigned to nemodjuric

[2017-01-04 03:22] nikitarockz commented on #88
## Closing
Issues in wrong repository
**_New Issue:_**  Certification: Cancellation Modal: Ability to view instructions and report issues - [#626](https://github.com/department-of-veterans-affairs/caseflow/issues/626)

[2017-01-04 03:22] #88 closed, assigned to nikitarockz

[2017-01-04 03:24] nikitarockz commented on #89
## Closing
Issues in wrong repository
**_New Issue:_** Certification: Cancellation Modal: Ability to submit cancellation - [#631](https://github.com/department-of-veterans-affairs/caseflow/issues/631)
Certification: Cancellation Modal: Ability to view confirmation - [#630](https://github.com/department-of-veterans-affairs/caseflow/issues/630)

[2017-01-04 03:24] #89 closed, assigned to nikitarockz

[2017-01-04 03:26] nikitarockz commented on #87
## Closing
Issues in wrong repository
**_New Issue:_** Certification: Cancellation Modal: Ability to view instructions and report issues - [#626](https://github.com/department-of-veterans-affairs/caseflow/issues/626)

[2017-01-04 03:26] #87 closed, assigned to nikitarockz

[2017-01-04 21:59] shanear commented on #67
This is failing because of an SSL error :(

I think this will require us to add the VA CA to our deployment scripts

[code]

[2017-01-05 18:18] anyakhvost commented on #67
Added the certificate.

[2017-01-05 21:41] shanear commented on #67
<img width="1554" alt="screen shot 2017-01-05 at 4 41 00 pm" src="https://cloud.githubusercontent.com/assets/1596259/21698628/ccd6811e-d365-11e6-97bb-d874d84aefee.png">

works! 🎉

[2017-01-05 21:41] #67 closed, assigned to anyakhvost

[2017-01-06 19:03] ghost commented on #32
Well, can't really see it in `demo` cause...`demo`
<img width="299" alt="screen shot 2017-01-06 at 14 00 35" src="https://cloud.githubusercontent.com/assets/18075411/21729324/a6ffbd8a-d418-11e6-9ddf-ffde34b56cb1.png">
obligatory `can't validate this` ping @shanear

[2017-01-09 15:09] astewarttistatech commented on #32
Based on @kierachell 's comment, is it safe to assume that we need to slap a label of environment on this issue?

[2017-01-09 15:50] shanear commented on #32
Validated on UAT. Works!

[2017-01-09 15:50] #32 closed, assigned to shanear, nemodjuric

[2017-01-18 16:12] nikitarockz opened #95 "Slack | Appeals-Support | Caseflow Feedback Bot | "Click Here" URL is incorrect"
# Description
When you click on feedback link in slack, it gives you an error page. The URL that it is taken you to is wrong (https://feedback.cf.ds.va.govadmin/).

The correct URL should be: https://feedback.cf.ds.va.gov/admin/.

**Confirmed Environment(s)**
- [ ] Dev
- [ ] Demo
- [ ] UAT
- [x] Prod

**Type of Bug**
- [x] Functional
- [ ] Design
- [ ] Security
- [ ] Tech Improvement

**Severity L

[2017-01-18 17:08] Chingujo commented on #73
Will update mock as soon as I have an approved/final copy

[2017-01-18 17:33] lakohl commented on #73
Please flip flop the PII box and the contact email box. The PII box is not required.

1. Please refrain from putting PII in this box.
2. If you are having an issue with a specific case number or vet ID please let us know. It's safe to put PII in this field.

[2017-01-18 18:28] nikitarockz commented on #73
@nemodjuric Sorry for the delay but the Mockup has been finalized and the ACs have been updated to reflect these changes.

[2017-01-18 22:50] Chingujo commented on #73
@lakohl @nikitarockz @nemodjuric

Thanks so much everyone +1 to Nikita mock is all good =D. Apologies on the delay

[2017-01-19 15:22] lakohl commented on #73
@nemodjuric if you have not already executed on this could you write 'Veteran ID' instead of 'vet ID' on the copy for the second box. thnx. designing over Slack is sub-optimal

[2017-01-19 16:15] Chingujo commented on #73
@lakohl @nemodjuric

Mock updated to reflect new copy.

[2017-01-19 23:31] nemodjuric commented on #73
@lakohl @Chingujo @nikitarockz
'Required' styling does not look like before.

[2017-01-20 13:13] Chingujo commented on #73
@nemodjuric @lakohl @nikitarockz
Here is what it looks like in the style guide =D. Does this match with what you have? Added it to the mock as well.

<img width="119" alt="screen shot 2017-01-20 at 7 52 37 am" src="https://cloud.githubusercontent.com/assets/23316107/22150289/3adfcc2a-dee6-11e6-85f4-98e98d5b8bfa.png">

[2017-01-21 19:24] nemodjuric commented on #73
@KHarshawat Can you confirm how Required span is supposed to look like? The last time I heard from you was in regard to Caseflow modal (issue 626) and Required was in parenthesis, italic and right after the label. Mock above shows Required aligned with input box edge. Did we change our take on this?

[2017-01-23 14:12] Chingujo commented on #73
@nemodjuric

I was directed to align the "Required" to the top right edge of the input box mid last week, so I believe the mock shows the most up to date decision (at least for feedback). Would love a final confirmation as well @lakohl =D

[2017-01-23 16:13] Chingujo commented on #73
@nemodjuric

Just did a design pow wow with @KHarshawat and got official guidance on the "required."

All required should look like below:

![screenshot_2](https://cloud.githubusercontent.com/assets/23316107/22211782/3810dd7c-e15c-11e6-9650-6cf51a45e657.jpg)
- [ ] Italicized
- [ ] No ()

# Text Input boxes
- [ ] For text inputs align it to the top right edge as shown in the above mock and below

!

[2017-01-23 21:14] anyakhvost commented on #71
In demo, it will not create an actual Github issue. This can only be fully tested in UAT. Waiting on @ariperez to create a support user and generate the access_token for UAT

[2017-01-23 21:14] anyakhvost commented on #75
In demo, it will not create an actual Github issue. This can only be fully tested in UAT. Waiting on @ariperez to create a support user and generate the access_token for UAT

[2017-01-23 21:48] ghost opened #99 "User | Feedback Form | Submit Feedback | Incorrect error message for Blank Feedback"
# Description
When submitting Feedback as a user and enter only spaces in the message body, an error message pops up saying "Feedback can't be blank". However, the formatting is incorrect (see screenshots below).

See related issues for proper design mocks.

**Environment:**
- [x] Production
- [ ] UAT
- [x] Demo
- [ ] Development

**Type of Bug:**
- [ ] Functional
- [X] UI
- [ ] Security
- [ ] Tec

[2017-01-23 22:08] astewarttistatech commented on #71
Marked as blocked due to @aroltsch 's comment. (see above)

[2017-01-24 17:29] astewarttistatech commented on #75
Tested in Demo, so far. Still waiting on the access_token for UAT.

Steps to Validate:
1. Go to admin of Feedback
2. Validate that the column for Github Issues is present

*Note: Like Anya mentioned, there are no linking issues. Also the spacing seems off, gonna loop @lakohl into it. Please refer to screenshots below.

Screenshots:
<img width="1259" alt="screen shot 2017-01-24 at 12 27 17 pm" src=

[2017-01-24 17:30] astewarttistatech commented on #75
Blocked until access_token is generated for UAT testing.

[2017-01-24 20:36] anyakhvost commented on #72
This can only be tested in UAT (as long as SLACK_WEBHOOK_URL is defined)

[2017-01-25 17:03] astewarttistatech commented on #75
**PASSED**

Please see below for UAT.

Screenshot:
<img width="944" alt="screen shot 2017-01-25 at 11 58 38 am" src="https://cloud.githubusercontent.com/assets/23038505/22300685/3e5f0546-e2f6-11e6-8eb2-dc6ada88f5bd.png">
<img width="1077" alt="screen shot 2017-01-25 at 11 59 42 am" src="https://cloud.githubusercontent.com/assets/23038505/22300687/4277ab1a-e2f6-11e6-9568-556bfe021b3b.png">

[2017-01-25 17:04] #75 closed, assigned to anyakhvost, astewarttistatech

[2017-01-25 17:27] astewarttistatech commented on #71
**PASSED**

Steps to Validate:
1. Go to feedback (UAT) from any product or directly
2. Fill out text fields
3. Submit Feedback
4. Go to https://feedback.cf.uat.ds.va.gov/admin
5. Notice that the feedback submitted now has been assigned a github issue.

Screenshot:
<img width="944" alt="screen shot 2017-01-25 at 11 58 38 am" src="https://cloud.githubusercontent.com/assets/23038505/22301601/988b6976

[2017-01-25 17:28] #71 closed, assigned to anyakhvost, astewarttistatech

[2017-01-25 23:50] ghost opened #103 "User | Feedback Form | Add a character limit to "Comment" field"
As a Product Support Analyst, I would like to limit the amount of characters that can be entered for feedback comments on the User Feedback page so that a user providing feedback is unable to give unlimited amount of information and prevent overflow on the Admin Feedback page.

# Acceptance Criteria
1. Verify that a maximum of 2000 can be entered in the "Comments" field.
1. Verify that the followi

[2017-01-26 16:10] astewarttistatech opened #104 "User | Paramaters are passed to the Subject"
**Description:**

As a user in Feedback if you add a "/" to the end of the URL and whatever text you want, that will be displayed in the "Tell us about your experience with Caseflow Certification" header.

**Expected:**
Header is supposed to remain unchanged. Possibly an error page should result.

**Browser Found:** Firefox
**Environment Found:** UAT

**Steps to Recreate:**
1. Go to https://feedba

[2017-01-26 16:53] astewarttistatech commented on #72
**PASSED**

Steps to Validate:

1. Go to feedback and create an issue in PROD
2. Go to the admin page of feedback in prod to see if the issue was created.
3. Check Slack channel, _Appeals-support_ , to see if a notification was generated.

Screenshot:

<img width="784" alt="screen shot 2017-01-26 at 11 48 09 am" src="https://cloud.githubusercontent.com/assets/23038505/22341157/c3c35274-e3bd-11e6-9

[2017-01-26 16:53] #72 closed, assigned to anyakhvost, astewarttistatech

[2017-01-27 14:40] nikitarockz opened #105 "Admin | Dashboard | Add Total Daily Feedback counter"
As a Product Support Analyst, I would like to have the Total Daily Feedback counter added to the Dashboard section on the Admin Feedback page so that I am aware of the all the issues for the current day.

# Acceptance Criteria
1. Verify that next to the header, the total number of feedback received today is displayed in the following format:

1. Adding padding-bottom 10px
# Mockup
**_View - Admin

[2017-01-27 15:15] Chingujo opened #106 "Admin | Dashboard | Spacing Between Column Names and Table"
As a Product Owner, I would like the padding between the column names and the table to be the appropriate padding in the Feedback application so that it complies with consistent stylization and style guidelines.

# Acceptance Criteria
1. Verify that the padding between the column names and the table is 30 px.

# Mockups
![caseflow feedback admin copy](https://cloud.githubusercontent.com/assets/233

[2017-01-27 18:15] shanear commented on #95
This is fixed by https://github.com/department-of-veterans-affairs/caseflow-feedback/issues/72

[2017-01-27 18:20] shanear commented on #70
@KHarshawat says that we can change the text to "Issue #" and that should fix this issue

[2017-01-27 18:21] shanear commented on #77
This is a styleguide issue, it should be fixed in Caseflow Commons

[2017-01-27 18:28] shanear commented on #78
This could already be working as intended. Lets verify

[2017-01-27 20:29] #95 closed, assigned to nobody

[2017-01-27 20:30] ghost commented on #95
<img width="514" alt="screen shot 2017-01-27 at 15 30 31" src="https://cloud.githubusercontent.com/assets/18075411/22386554/963d7eae-e4a5-11e6-814e-9e34138904fe.png">
Confirmed

[2017-01-27 20:44] ghost commented on #78
Not seeing _Tester_:
<img width="922" alt="screen shot 2017-01-27 at 15 32 34" src="https://cloud.githubusercontent.com/assets/18075411/22386596/df090414-e4a5-11e6-9eb9-26dd2fa92e2e.png">
Application name stuck with first word _Caseflow_:
<img width="692" alt="screen shot 2017-01-27 at 15 33 29" src="https://cloud.githubusercontent.com/assets/18075411/22386634/032c8bd6-e4a6-11e6-9132-a1cdf5367abe.

[2017-01-27 21:23] nemodjuric commented on #103
@Chingujo @shellicious @lakohl Do you guys have any comments/suggestions on this?

[2017-01-27 21:49] msknee commented on #103
LGTM

[2017-01-27 21:54] Chingujo commented on #103
@nemodjuric
Final say on character limit"

Update***: Should match the limit in certification

![user feedback embedded alert](https://cloud.githubusercontent.com/assets/23316107/22439755/e142955a-e6fe-11e6-9266-d98e96f756a8.png)

[2017-01-30 14:20] ghost commented on #73
Phillip confirmed that it looks good 👍

<img width="677" alt="screen shot 2017-01-30 at 09 19 49" src="https://cloud.githubusercontent.com/assets/18075411/22426444/448daa00-e6cd-11e6-89fb-0903e63c230f.png">

[2017-01-30 14:20] #73 closed, assigned to nemodjuric

[2017-01-30 20:22] nikitarockz commented on #78
# Sprint Planning
Decided to remove this issue as it no longer valid.  All is fine.

[2017-01-30 20:22] #78 closed, assigned to nobody

[2017-01-31 21:04] ghost commented on #103
Works on `demo`!:
<img width="581" alt="screen shot 2017-01-31 at 16 03 29" src="https://cloud.githubusercontent.com/assets/18075411/22484312/e02b0cd0-e7ce-11e6-8d53-c04ef1a03b63.png">
<img width="974" alt="screen shot 2017-01-31 at 16 03 37" src="https://cloud.githubusercontent.com/assets/18075411/22484313/e02cd358-e7ce-11e6-9d55-7d8a918966fc.png">

[2017-01-31 21:05] ghost commented on #70
<img width="164" alt="screen shot 2017-01-31 at 16 05 15" src="https://cloud.githubusercontent.com/assets/18075411/22484359/125a31cc-e7cf-11e6-82de-42ba85a13f72.png">
Still shows up as 2 lines and not 1.
<img width="164" alt="screen shot 2017-01-31 at 16 06 53" src="https://cloud.githubusercontent.com/assets/18075411/22484452/7d4b6b68-e7cf-11e6-858f-f5487b562aac.png">
<img width="86" alt="screen s

[2017-01-31 21:33] nemodjuric commented on #70
@shanear @KHarshawat-gov Text change did not do it. We can enforce it through css, but we might have to consider fixing the layout issue first.

[2017-01-31 21:39] #103 closed, assigned to nemodjuric

[2017-02-01 14:51] ghost commented on #99
<img width="533" alt="screen shot 2017-02-01 at 09 50 17" src="https://cloud.githubusercontent.com/assets/18075411/22511521/f00b74c4-e863-11e6-91a5-585edbfee45f.png">
<img width="535" alt="screen shot 2017-02-01 at 09 50 25" src="https://cloud.githubusercontent.com/assets/18075411/22511520/f0043a6a-e863-11e6-84ed-e868664d2044.png">

[2017-02-01 14:52] #99 closed, assigned to nemodjuric

[2017-02-01 15:28] KHarshawat-gov commented on #70
This is weird because that table is supposed to adjust the column width automatically I believe. I would focus on fixing the layout issue. Also consider just removing the `#` for now.

[2017-02-01 18:40] ghost commented on #70
Removing `#` did it...
<img width="1071" alt="screen shot 2017-02-01 at 1 36 50 pm" src="https://cloud.githubusercontent.com/assets/18075411/22520776/aad7e43a-e883-11e6-9487-2dbc71d5dbf5.png">
tested `demo` and `uat`

[2017-02-01 18:40] #70 closed, assigned to nemodjuric

[2017-02-01 18:57] KHarshawat-gov commented on #76
[Caseflow Feedback.svg.zip](https://github.com/department-of-veterans-affairs/caseflow-feedback/files/745818/Caseflow.Feedback.svg.zip)

[2017-02-02 23:37] astewarttistatech commented on #76
Coloring seems off, like its too opaque, @Chingujo or @KHarshawat-gov  can you double check?

Steps to Validate:
1. Go to https://feedback.cf.uat.ds.va.gov/ and it's admin page directly and via caseflow and efolder express applications
2. Verify the Caseflow feedback logo matches those in the mocks.

Screenshots:
<img width="1337" alt="screen shot 2017-02-02 at 6 32 41 pm" src="https://cloud.githu

[2017-02-03 15:30] KHarshawat-gov commented on #76
@astewarttistatech LGTM ... checked against the other logos and it's consistent. This one is just a lighter color.

[2017-02-03 16:13] astewarttistatech commented on #76
Ok cool beans. Closing this.

**PASSED**

[2017-02-03 16:13] #76 closed, assigned to anyakhvost, astewarttistatech

[2017-02-20 21:54] mmlumba commented on #77
Also this is fixed in this PR (which fails due to `pdftk` not working for some reason): https://github.com/department-of-veterans-affairs/caseflow-feedback/pull/113

[2017-02-21 15:11] ghost opened #115 "Internet Explorer unable to display Feedback"
When accessing **Feedback** using IE11 or earlier using `Compatibility View`,
I expect the app to look like this:
![lolwut](https://cloud.githubusercontent.com/assets/18075411/23170654/fcc33598-f81d-11e6-94bf-b66b4aa2d7e2.png)

Instead I get this:
![wut](https://cloud.githubusercontent.com/assets/18075411/23170482/4239e938-f81d-11e6-9333-ee573cfeb48b.png)

This is on all environments using IE11:
!

[2017-02-21 17:07] anyakhvost opened #117 "Upgrade to Ruby 2.5.1"
See https://github.com/department-of-veterans-affairs/caseflow/issues/6068

[2017-02-21 18:31] astewarttistatech commented on #115
@kierachell I assigned it to you because you can access IE

[2017-02-21 22:15] ghost commented on #115
**PASSED**
validated in `uat` with _Compatibility View_ on

![fixedfeedback](https://cloud.githubusercontent.com/assets/18075411/23187528/2742cd84-f859-11e6-946f-a13ccb0a48b4.png)

[2017-02-21 22:15] #115 closed, assigned to nobody

[2017-03-09 20:32] gnakm commented on #77
@Chingujo I added your correct footer mock in the styleguide footer issue https://github.com/department-of-veterans-affairs/caseflow/issues/1090

[2017-03-10 02:01] Chingujo commented on #77
Thank you @gnakm. Closing in favor of the above issue.

[2017-03-10 02:02] #77 closed, assigned to gnakm, Chingujo

[2017-03-13 21:12] cmgiven opened #122 "User Feedback | Prevent users from submitting sensitive information"
Any text matching the following regex should not be allowed to be submitted to the system:

```((?<![0-9])[0-9]{3}[- ]?[0-9]{2}[- ]?[0-9]{4}(?![0-9])S?|(?<![0-9])[0-9]{7,8}(?![0-9])C?)```

@shanear @nikitarockz: Can we please expedite this to be built ASAP?

cc @ariperez-gov

[2017-03-15 18:36] nemodjuric opened #124 "Update rubyzip version to 1.2.1"
This is causing build breakage due to security vulnerability issue.

[2017-03-16 20:19] nemodjuric opened #128 "Write functional tests for Feedback.js."
See https://github.com/department-of-veterans-affairs/caseflow/blob/master/spec/javascripts/form8_spec.js

[2017-03-17 00:41] ghost commented on #74
**PASSED**
some hardcore english right there
![screenshot_2017-03-16_20-40-56](https://cloud.githubusercontent.com/assets/18075411/24024316/e13a25b6-0a88-11e7-80d1-42d2a347baa4.png)

[2017-03-17 00:41] #74 closed, assigned to ariperez-gov

[2017-03-18 02:17] ghost commented on #124
**PASSED**
didn't break it today :shrimp:

[2017-03-18 02:17] #124 closed, assigned to nemodjuric

[2017-03-21 15:25] #122 closed, assigned to nemodjuric

[2017-04-10 18:35] shanear opened #132 "Confirmation: Update Styling, Change Back to Close"
When users click on "Send Feedback" it opens a new window. When they complete the feedback and click "Back to X" button it redirects the new window they have open back to where they came from, leaving a new window open that they don't seem like they go back to.

## **AC**

1. Verify the h1 is centered
1.  Verify the h1 reads: "Thank you" (not "Thank You", attached mock is wrong)
1.  Verify the h1

[2017-04-10 18:36] shanear commented on #132
@lakohl not sure where this should go.

[2017-04-10 22:29] lakohl commented on #132
@Chingujo let's make time to go over Feedback during the Design meeting

[2017-04-21 13:46] lakohl commented on #132
@shanear we are going with your suggested option 2. @Chingujo will provide a mock.

[2017-04-21 13:47] Chingujo commented on #132
@lakohl
Here is the mock for the "Close Feedback" (option 2). Apologies for the delay

## Mock
** Updated to reflect shorter copy

![close feedback](https://cloud.githubusercontent.com/assets/23316107/25282686/3e9dff86-267f-11e7-9fbc-41bb6afcd819.png)

[2017-04-21 14:26] lakohl commented on #132
@Chingujo could you update the mock at the very top when you adjust the h1?

[2017-04-21 14:43] Chingujo commented on #132
Yes =D! Updated to Thank You

[2017-05-25 16:12] cmgiven opened #135 "Remove Feedback Details from GitHub"
Users have continued to enter PII in the details field, and although SSNs are now prevented, names too are sensitive data that should not be shared.

[2017-05-30 19:07] #135 closed, assigned to cmgiven

[2017-09-06 16:50] amprokop opened #141 "Port Functions to feedback and use it to view the admin feedback page"
## Acceptance Criteria
- Only users who we've granted System Admin access to can see the feedback page

[2017-09-07 14:04] amprokop commented on #104
not a bug, we expect that if the user changes the URL querystring param, that will show up in the feedback form. you don't need to put in a `/` to do so.

[2017-09-07 14:04] #104 closed, assigned to nobody

[2017-09-14 19:06] nemodjuric commented on #141
To Verify (since we didn't use Functions):
run 'rake db:migrate:reset'
List of admin users are in db/seeds/admins.yml
Make sure users from this list only are able to see /admin page

[2017-09-15 13:22] ghost commented on #141
**PASSED**
[code]

<img width="1115" alt="screen shot 2017-09-15 at 9 21 54 am" src="https://user-images.githubusercontent.com/18075411/30484122-61178834-99f7-11e7-9414-5f573f321d8c.png">

[2017-09-15 13:22] #141 closed, assigned to nemodjuric

[2017-10-12 18:52] amprokop opened #147 "Ensure all users (even IE 10 & 11) see a success or failure message after submitting feedback"
From https://github.com/department-of-veterans-affairs/appeals-support/issues/679

[code]

## AC
- Success or failure message shows up after attempted feedback submission in all browsers

[2017-10-12 18:53] amprokop commented on #147
@nemodjuric — can you follow up with Raven to get more info from the user, and possibly Alexis to try to reproduce in the user's browser if necessary?

[2017-10-13 16:17] nemodjuric commented on #147
By Raven:
Unable to reproduce issue.
Spoke with user this morning to confirm if he was still having issues with sending feedback, and he stated that for the past few days he hasn't had any problems with sending feedback.
Things Noted

user is using Chrome
issue is inconsistent
issue is only happening in reader

[2017-10-19 15:28] amprokop opened #148 "Tweak fit & finish"
The feedback app looks a tad messy.

![image](https://user-images.githubusercontent.com/3781835/31779633-90428aa2-b4c1-11e7-97d3-abde59926e66.png)

## AC
- All form fields and text should be centered within the white container.
- There should be a paragraph before the first field that reads "What's working well? What's not working? Your comments will help us improve Caseflow for everyone."
- The l

[2017-10-19 15:54] mmlumba commented on #90
@nikitarockz Isn't the feedback app already paginated? If so then I'm not sure why this feature is needed.

[2017-10-20 13:34] nikitarockz commented on #90
## Closing - Obsolete

@mmlumba Agreed.

[2017-10-20 13:34] #90 closed, assigned to Sjones352

[2017-10-24 00:59] ghost commented on #148
**PASSED**

- It's not _darker_ anymore :|
<img width="923" alt="screen shot 2017-10-23 at 8 58 04 pm" src="https://user-images.githubusercontent.com/18075411/31920154-09173588-b835-11e7-9f43-723b9fe0fe2e.png">
<img width="569" alt="screen shot 2017-10-23 at 8 59 02 pm" src="https://user-images.githubusercontent.com/18075411/31920155-092fa0dc-b835-11e7-8de6-38e2e2e4329d.png">
<img width="568" alt=

[2017-10-24 00:59] #148 closed, assigned to mmlumba

[2017-10-24 23:09] ghost commented on #105
**PASSED**

- Looks better than the AC, jussayin

<img width="1089" alt="screen shot 2017-10-24 at 7 07 16 pm" src="https://user-images.githubusercontent.com/18075411/31972434-bd4de1f0-b8ee-11e7-813e-4b7326e2a7db.png">

[2017-10-25 13:36] mmlumba commented on #132
@amprokop removed this AC since QA doesn't validate pixel sizes anymore (designers do):

[2017-10-27 16:52] ghost commented on #132
**PASSED**

<img width="1129" alt="screen shot 2017-10-27 at 12 51 51 pm" src="https://user-images.githubusercontent.com/18075411/32115671-b3f7888a-bb15-11e7-8291-27844eafcb1b.png">

[2017-10-27 16:52] #132 closed, assigned to mmlumba, astewarttistatech

[2017-11-03 15:30] ghost commented on #105
**PASSED**

again..I don't know what changed

[2017-11-03 15:30] #105 closed, assigned to nobody

[2017-12-07 20:11] nickheiner-usds opened #156 "Protections against user-entered PII are insufficient"
![image](https://user-images.githubusercontent.com/25331532/33736465-b5bdff08-db60-11e7-97a7-7ea2eb5ae8c3.png)

Our current protection against PII leakage is "ask the user nicely not to do it". However, users are not always disciplined about following this. When the user hits "submit", the content of that form is automatically posted to GitHub. We should modify the app to not accidentally leak PII

[2018-01-22 18:30] amprokop opened #157 "Upgrade Rails 4.2 to 5"
Follow the steps in http://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-4-2-to-rails-5-0

[2018-01-22 21:39] nemodjuric opened #158 "Update rubocop"
Running `bundle exec rake security` informs us that we're using an outdated / insecure version of Rubocop:

[code]

[Issue in question](https://github.com/bbatsov/rubocop/issues/4336), [changelog](https://github.com/bbatsov/rubocop/blob/master/CHANGELOG.md).

## AC
- [ ] Site operates as expected
- [x] Automated tests pass

[2018-01-24 16:25] Sjones352 commented on #158
**PASSED**

Validated in:  Feedback App

Steps to Validate:
1. Pull from master
2. merge master into your branch
3. Run `bundle exec rake security`informs us that we have updated version of Rubocop
4. Run `bundle-audit`

<img width="534" alt="screen shot 2018-01-24 at 11 13 20 am" src="https://user-images.githubusercontent.com/23080951/35343708-50b9a904-00f9-11e8-81bc-159250f0e346.png">

<img widt

[2018-01-24 16:26] #158 closed, assigned to nemodjuric

[2018-01-26 03:29] #106 closed, assigned to Sjones352

[2018-01-26 03:37] nikitarockz commented on #69
Moving this out of icebox and placing it into Read-for-Dev.  Now that the Support Team must go into the Feedback to get the details of every single ticket, they really need to be able to search considering the amount of tickets that are on the dashboard.  Clicking Next to go through each page to find an issue is unacceptable.

[2018-01-31 01:19] nikitarockz opened #162 "User Feedback | Github Issue | Modify labels added"
As a Product Support Analyst, I would like to have the automatically generated github issue labels modified  so that the correct labels are added supporting allowing for better processing for the support team.

# Acceptance Criteria
1. Verify that for a new github issue created, the "Product Support Team" label is no longer added leaving only the following labels added:
     - Source - Feedback

[2018-01-31 01:46] nikitarockz opened #163 "User Feedback | Github Issue | Update to use the new issue template"
As a Product Support Analyst, I would like to have github new issue template modified to use the most current "ISSUE_TEMPLATE.MD" so that new issues created are created with the most current template which will allow for better processing for the support team.

# Acceptance Criteria
1. Verify that when a new support issue is automatically created, it uses the updated version of the  [ISSUE_TEMPLAT

[2018-02-05 17:53] nikitarockz opened #165 "Admin | Dashboard | Ability to view PII"
As a Product Support Analyst, I want to be able to see the PII that the users has entered when submitting a feedback, so that I can process the support tickets without getting into a confrontation with the user by asking again to give me the PII that they have already provided in the User Feedback form or missing  out on the opportunity because the user is no longer working that case/file and can'

[2018-03-05 17:37] nemodjuric opened #175 "Remove skip_before_action in health_check_controller"
:authenticate method does not exist
Also, skip_before_action seems as unnecessary step in this case, since authentication is not required by ApplicationController (but FeedbackController).

[2018-03-05 20:37] nemodjuric opened #177 "Fix redirect path in cancel button"
We should not redefine session[:redirect], unless it's nil, since params does not have redirect in `send more feedback` request.
https://github.com/department-of-veterans-affairs/caseflow-feedback/blob/master/app/controllers/feedback_controller.rb#L15

To reproduce:
1. Leave a feedback
2. Click on `Send more feedback`
3. Click on Cancel

<img width="722" alt="screen shot 2018-03-05 at 2 54 43 pm"

[2018-03-05 20:42] #175 closed, assigned to nemodjuric

[2018-03-07 16:19] nemodjuric opened #179 "Add metrics to feedback"
We can add metrics for time to feedback form to show up once request was made and time between submitting the form and success message.
Refer to some of the code for datadog statsd here:
https://docs.datadoghq.com/developers/metrics/
and some of our in-house code here:
https://github.com/department-of-veterans-affairs/caseflow-efolder/pull/789/files

[2018-03-20 16:36] Chingujo commented on #165
@amprokop @nikitarockz
tldr: The PII field was added to the front facing user form but does not appear on the table. Could be a situation where we added it on the feedback ticket and not on the table or a bug where it's not showing on the admin table.

### Problem

Currently when a user fills out the form on the ticket, there is a box that allows them to enter PII. However, since this information

[2018-03-20 18:16] nikitarockz commented on #163
## Closing
All tasks have been completed.

[2018-03-20 18:16] #163 closed, assigned to nobody

[2018-03-20 18:16] nikitarockz commented on #162
## Closing
All tasks have been completed.

[2018-03-20 18:16] #162 closed, assigned to nobody

[2018-04-17 16:57] #165 closed, assigned to nemodjuric

[2018-04-24 23:58] nemodjuric commented on #69
@Chingujo @nikitarockz We have PII column now, do we need this in search? If so, please add it to the description.

[2018-04-25 03:28] nikitarockz commented on #69
@nemodjuric Thanks for pii.  Yes we need the search.

[2018-04-25 17:24] nikitarockz commented on #69
Oh.  You mean do we need to be able to search for pii us the new search field.  I am going to say no to that.

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Nemo Djuric <notifications@github.com>
Date: 4/24/18 7:59 PM (GMT-05:00)
To: department-of-veterans-affairs/caseflow-feedback <caseflow-feedback@noreply.github.com>
Cc: Nikita De Burgo <ndeburgo@tist

[2018-06-13 13:36] amprokop opened #186 "Remove PII check from feedback form"
In https://github.com/department-of-veterans-affairs/caseflow-feedback/pull/126, we implemented a PII check to prevent PII in feedback text from leaking into GitHub and Slack.

We no longer send feedback text to GitHub and Slack, and we have a report that this is causing difficulty for users. https://github.com/department-of-veterans-affairs/appeals-support/issues/1980#issue-319532983

# AC
- Remo

[2018-07-17 11:54] #157 closed, assigned to nemodjuric

[2018-07-17 11:55] #186 closed, assigned to nemodjuric

[2018-07-25 14:21] #69 closed, assigned to nemodjuric

[2018-07-25 14:23] #147 closed, assigned to nobody

[2018-07-31 14:23] nemodjuric opened #191 "Add Kate Brown to the list of admins"
Her username is vhaisabrownk

[2019-02-12 13:55] msj0nes opened #199 "User Feedback | Github Issue | Update Issue Template"
As a Product Support Analyst, I would like to have github new issue template modified to use the most current "ISSUE_TEMPLATE.MD" so that new issues created are created with the most current template which will allow for better processing for the support team.

# Acceptance Criteria
1. Verify that when a new support issue is automatically created, it uses the updated version of the  [ISSUE_TEMPLAT

[2019-02-13 15:31] #199 closed, assigned to nemodjuric

[2019-11-01 16:23] pkarman opened #206 "Archive this repo"
This app is no longer used or supported. Close all issues/PRs and archive it.

[2019-11-09 21:13] #7 closed, assigned to amprokop

[2019-11-09 21:13] #9 closed, assigned to nobody

[2019-11-09 21:13] #10 closed, assigned to nobody

[2019-11-09 21:13] #11 closed, assigned to nobody

[2019-11-09 21:13] #28 closed, assigned to nobody

[2019-11-09 21:13] #68 closed, assigned to Chingujo

[2019-11-09 21:13] #117 closed, assigned to nobody

[2019-11-09 21:13] #128 closed, assigned to nobody

[2019-11-09 21:13] #156 closed, assigned to nobody

[2019-11-09 21:13] #177 closed, assigned to nobody

[2019-11-09 21:13] #179 closed, assigned to nobody

[2019-11-09 21:13] #191 closed, assigned to nemodjuric

[2019-11-09 21:15] #206 closed, assigned to nobody